In [1]:
#load dataset
!unzip "/content/drive/MyDrive/dataset52a7b21 (1).zip"

Archive:  /content/drive/MyDrive/dataset52a7b21 (1).zip
   creating: dataset/
  inflating: dataset/train.csv
  inflating: dataset/sample_submission.csv
  inflating: dataset/test.csv
  inflating: dataset/.~lock.train.csv#

In [3]:
#library
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import csv

In [4]:
#train data
df1=pd.read_csv("/content/dataset/train.csv",escapechar = "\\",quoting=csv.QUOTE_NONE)

In [ ]:
df1

                                                     TITLE  ... BROWSE_NODE_ID
0               Pete The Cat Bedtime Blues Doll, 14.5 Inch  ...              0
1        The New Yorker NYHM014 Refrigerator Magnet, 2 ...  ...              1
2        The Ultimate Self-Sufficiency Handbook: A Comp...  ...              2
3         Amway Nutrilite Kids Chewable Iron Tablets (100)  ...              3
4        Teacher Planner Company A4 6 Lesson Academic T...  ...              4
...                                                    ...  ...            ...
2903019  Premium Aviator Sunglasses - HD Polarized (Bri...  ...           1040
2903020  Social Distance Stickers - Set of 5 Sticker Sl...  ...          15199
2903021  Torr-to Face Shield PACK OF 5 with Adjustable ...  ...        1044933
2903022  Type-C to 3.5 MM for Oppo R17 Pro Type-C to 3....  ...          14790
2903023                        KNG Orange Polo Tshirt (38)  ...           1213

[2903024 rows x 5 columns]

In [ ]:
df1.shape

(2903024, 5)

In [ ]:
df1.columns

Index(['TITLE', 'DESCRIPTION', 'BULLET_POINTS', 'BRAND', 'BROWSE_NODE_ID'], dtype='object')

In [ ]:
df1.isnull().sum()

TITLE                 71
DESCRIPTION       723664
BULLET_POINTS     166263
BRAND              56737
BROWSE_NODE_ID         0
dtype: int64

In [ ]:
len(np.unique(df1["BROWSE_NODE_ID"]))

9919

In [ ]:
np.unique(df1["BROWSE_NODE_ID"])

array([      0,       1,       2, ..., 2847632, 2860317, 2893574])

In [ ]:
#classes having only one sample
df_1=df1.groupby("BROWSE_NODE_ID").filter(lambda x : len(x)==1)

In [ ]:
df_1

                                                     TITLE  ... BROWSE_NODE_ID
5742     Mythrojan Solid Wood Single Sword Stand Mediev...  ...           5742
44144    Professional Products 54130 Engine Bolt Kit fo...  ...          44144
47928    Glarks 80Pcs 2.54mm Straight Double Row Female...  ...          47928
58622    TOPS Visitors Register Book, 17 Lines per Page...  ...          58622
61846             Surgical Spirit I.P. 4.5 Litre (DL Reqd)  ...          61846
...                                                    ...  ...            ...
2801983  Writeyboard 50 Square Feet 1-Part White Dry Er...  ...        2801983
2830573           Journal of Inventions, Leonardo Da Vinci  ...        2830573
2847632  NO FALL Men's Anti-slip Cotton Full Length Soc...  ...        2847632
2860317  Remco 69625 Stiff Hand Scraper, Injection Mold...  ...        2860317
2893574  Yonex Junior Polo T-Shirt 932-28 (Strong Blue,...  ...        2893574

[247 rows x 5 columns]

In [ ]:
len(np.unique(df_1["BROWSE_NODE_ID"]))

247

In [ ]:
#targets having exactly 2 samples
df_2=df1.groupby("BROWSE_NODE_ID").filter(lambda x : len(x)==2)

In [ ]:
df_2

                                                     TITLE  ... BROWSE_NODE_ID
2        The Ultimate Self-Sufficiency Handbook: A Comp...  ...              2
1308     Takabb 5 Piece Takabb Thai Herbal Anti Cough P...  ...           1308
6625     AdraXx CJMCU-100 SCA100T-D02 High-precision du...  ...           6625
6706     GOLGINO Server Book for Waitress & Waiter 9‚Äù x...  ...           6706
8282     FidgetGear 3pcs DIY Silicone Sphere Pendant Mo...  ...           8282
...                                                    ...  ...            ...
2887217  Dolphy Toilet Valves Urinal Sensor Flusher for...  ...        1769747
2893697                    Lamex Watch for Men Fully Black  ...        2564275
2896675  Generic FS Racing Wheel Hex Aluminous 12mm 1/1...  ...        1866195
2898071  Military Ba Men's Paradise UPF 50+ Short Sleev...  ...        2467618
2898812  DAMoW7 Dress Womens Material Night Maxi Wester...  ...        1664954

[832 rows x 5 columns]

In [ ]:
len(np.unique(df_2["BROWSE_NODE_ID"]))

416

In [ ]:
#targets having exactly 3 samples
df_3=df1.groupby("BROWSE_NODE_ID").filter(lambda x : len(x)==3)

In [ ]:
df_3

                                                     TITLE  ... BROWSE_NODE_ID
425                SimNet to N2K Micro-C Adapter Female 1M  ...            425
442      SKF FY 40 FM Ball Bearing Flange Unit, 4 Bolts...  ...            442
1659     Wonzone Breathable Adjustable Elastic Bandage ...  ...           1659
1806     looms & weaves - Natural Vanilla Beans from Ke...  ...           1806
3467     Filpro Stainless Steel 316 Miniature Float Swi...  ...           3467
...                                                    ...  ...            ...
2877403  Casa Decor Ceramic Decorative Filigree Wall Ho...  ...         139858
2883065  Oculus Quest 128 GB (Black) 2nd Gen. (2019 Mod...  ...         361086
2890569  Rolling Paper Vyom Classic (Combo Pack with Fi...  ...         453016
2896053                         Sakura Potato Starch, 500g  ...        1200288
2897804  deli W38562 Start Series 41mm Black Binder Cli...  ...        1116278

[1521 rows x 5 columns]

In [ ]:
len(np.unique(df_3["BROWSE_NODE_ID"]))

507

In [ ]:
#targets having <=3 samples
df_l3=df1.groupby("BROWSE_NODE_ID").filter(lambda x : len(x)<=3)

In [ ]:
len(np.unique(df_l3["BROWSE_NODE_ID"]))

1170

In [ ]:
#unique brand values
train_brand=((df1["BRAND"]).value_counts()).index

In [ ]:
len((df1["BRAND"]).value_counts())

258265

In [ ]:
#train set unique brand values
train_brand.sort_values()

Index(['!RAKRISA', '!iT Collective', '" Green Leaf "', '" Lotus "',
       '" Mud & More " with Premier Dead Sea', '"Ames"', '"BestThaiComplex"',
       '"Encore Electronics, Inc."', '"GR"-GLORIOSO', '"Generic"',
       ...
       'Áà±‰∫ø‰πê', 'Ëáª‰∏âÁéØ', 'ÏùºÎ∞ò', 'ÔªøRAM PRODUCTS', 'Ôº§ÔºØÔº≥ÔºØÔºÆ', 'üåü Sherostore üåü',
       'üçÄGoodLock(TM)_Baby Clothes', 'üçÄGoodLock(TM)_Women Shoes',
       'üçí Spring Color üçí', 'üçíCherry Cheersüçí'],
      dtype='object', length=258265)

In [ ]:
#test set
test=pd.read_csv("/content/dataset/test.csv",escapechar = "\\",quoting=csv.QUOTE_NONE)

In [ ]:
len((test["BRAND"]).value_counts())

20301

In [ ]:
#test set unique brand values
test_brand=((test["BRAND"]).value_counts()).index

In [ ]:
test_brand.sort_values()

Index(['"Happy Selling"', '#ALPHA', '&Me', ''Aakarshan'',
       ', YABON , ULTRA TOUCH', '.', '007 Bond Hut', '03', '0Month+',
       '0RIGINAL',
       ...
       'zikmes', 'ziofy', 'ziplex', 'zivite', 'zoom scientific world', 'zoroz',
       'zsales', 'zvr', '‚ù§Ô∏èKoaha_‚ù§Ô∏èEducation', '‚ù§Ô∏èKoaha_‚ù§Ô∏èMen's Watch'],
      dtype='object', length=20301)

In [ ]:
ttb=test_brand.to_list()

In [ ]:
ttbr=train_brand.to_list()

In [ ]:
#test train overlap
list1_as_set = set(ttbr)
intersection = list1_as_set.intersection(ttb)

In [ ]:
len(intersection)

In [ ]:
non_com=(set(ttb) ^ set(ttbr))
len(non_com)

245170

In [ ]:
pd.merge(df1, test, how ='inner', on =['TITLE'])

                                                  TITLE  ...     BRAND_y
0     Crackndeal Back Cover for Apple Ipod Touch 6th...  ...  Crackndeal
1     Treesha Shakha Pola,Beauti Sheel Bangle Bengal...  ...     TREESHA
2     Treesha Shakha Pola,Beauti Sheel Bangle Bengal...  ...     TREESHA
3     Treesha Shakha Pola,Beauti Sheel Bangle Bengal...  ...     TREESHA
4     Treesha Shakha Pola,Beauti Sheel Bangle Bengal...  ...     TREESHA
...                                                 ...  ...         ...
6498  SYUM Smart Watch A1 Bluetooth Smartwatch Compa...  ...        SYUM
6499  WC RIGHT Mens Solid Full Sleeve Lycra Hooded T...  ...    WC RIGHT
6500  CLASTIK Cartoon Printed Stainless Steel Sipper...  ...     Clastik
6501  CLASTIK Cartoon Printed Stainless Steel Sipper...  ...     Clastik
6502  CLASTIK Cartoon Printed Stainless Steel Sipper...  ...     Clastik

[6503 rows x 9 columns]

In [ ]:
pd.merge(df1, test, how ='inner', on =['BULLET_POINTS'])

In [ ]:
df1.shape

In [ ]:
#duplicate values in train
df11=df1.drop_duplicates()

In [ ]:
duplicate =df1[df1.duplicated()]

In [ ]:
#duplicates value in test
test.drop_duplicates()

In [ ]:
#FE
import re
from tqdm import tqdm
import math
import emoji

In [ ]:
#no. of words
title_words=[]
des_words=[]
bullet_words=[]
for i in tqdm(range(len(df1))):

  if(df1["TITLE"][i]!=df1["TITLE"][i]):
    title_words.append(0)
  else:
    title_words.append(len(df1["TITLE"][i].split()))

  if(df1["DESCRIPTION"][i]!=df1["DESCRIPTION"][i]):
   des_words.append(0)
  else:
   des_words.append(len(df1["DESCRIPTION"][i].split()))

  if(df1["BULLET_POINTS"][i]!=df1["BULLET_POINTS"][i]):
    bullet_words.append(0)
  else:
    bullet_words.append(len(df1["BULLET_POINTS"][i].split()))

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 2903024/2903024 [03:23<00:00, 14290.21it/s]

In [ ]:
FE_train=pd.DataFrame()

In [ ]:
FE_train["title_words"]=title_words
FE_train["des_words"]=des_words
FE_train["bullet_words"]=bullet_words

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize 
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from textblob import TextBlob
nltk.download('brown')

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Unzipping corpora/brown.zip.

True

In [ ]:
stop_words = set(stopwords.words('english'))

In [ ]:
#no. of words without stopwords
title_stopwords=[]
des_stopwords=[]
bullet_stopwords=[]
for i in tqdm(range(len(df1))):

  if(df1["TITLE"][i]!=df1["TITLE"][i]):
    title_stopwords.append(0)
  else:
    word_tokens = word_tokenize(df1["TITLE"][i])
    stopwords_x = [w for w in word_tokens if w.lower() in stop_words]
    title_stopwords.append(len(stopwords_x))

  if(df1["DESCRIPTION"][i]!=df1["DESCRIPTION"][i]):
   des_stopwords.append(0)
  else:
    word_tokens = word_tokenize(df1["DESCRIPTION"][i])
    stopwords_x = [w for w in word_tokens if w.lower() in stop_words]
    des_stopwords.append(len(stopwords_x))

  if(df1["BULLET_POINTS"][i]!=df1["BULLET_POINTS"][i]):
    bullet_stopwords.append(0)
  else:
    word_tokens = word_tokenize(df1["BULLET_POINTS"][i])
    stopwords_x = [w for w in word_tokens if w.lower() in stop_words]
    bullet_stopwords.append(len(stopwords_x))

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 2903024/2903024 [1:10:21<00:00, 687.74it/s]

In [ ]:
FE_train["title_stopwords"]=title_stopwords
FE_train["des_stopwords"]=des_stopwords
FE_train["bullet_stopwords"]=bullet_stopwords

In [ ]:
# title_emoji=[]
# des_emoji=[]
# bullet_emoji=[]
# for i in tqdm(range(len(df1))):

#   if(df1["BULLET_POINTS"][i]!=df1["BULLET_POINTS"][i]):
#     title_emoji.append(0)
#   else:
#     counter = (df1["BULLET_POINTS"][i]).split()
#     text_de= emoji.demojize((' '.join(emoji for emoji in counter)))
#     emojis_list_de= re.findall(r'(:[!_\-\w]+:)', text_de)
#     title_emoji.append(len([emoji.emojize(x) for x in emojis_list_de]))

In [ ]:
#counting nouns
title_noun=[]
des_noun=[]
bullet_noun=[]
for i in tqdm(range(len(df1))):
  if(df1["TITLE"][i]!=df1["TITLE"][i]):
    title_noun.append(0)
  else:
    blob = TextBlob(df1["TITLE"][i])
    title_noun.append(len(blob.noun_phrases))

  if(df1["DESCRIPTION"][i]!=df1["DESCRIPTION"][i]):
   des_noun.append(0)
  else:
     blob = TextBlob(df1["DESCRIPTION"][i])
     des_noun.append(len(blob.noun_phrases))

  if(df1["BULLET_POINTS"][i]!=df1["BULLET_POINTS"][i]):
   bullet_noun.append(0)
  else:
     blob = TextBlob(df1["BULLET_POINTS"][i])
     bullet_noun.append(len(blob.noun_phrases))

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 2903024/2903024 [3:36:23<00:00, 223.60it/s]

In [ ]:
FE_train=pd.read_csv("/content/FE_train1.csv")

In [ ]:
FE_train["title_noun"]=title_noun
FE_train["des_noun"]=des_noun
FE_train["bullet_noun"]=bullet_noun

In [ ]:
#bullet point sentense length
bullet_sentences=[]
for i in tqdm(range(len(df1))):

  if(df1["BULLET_POINTS"][i]!=df1["BULLET_POINTS"][i]):
    bullet_sentences.append(0)
  else:
    bullet_sentences.append(len(df1["BULLET_POINTS"][i].split(',')))

In [ ]:
bullet_avg_length=[]
for i in tqdm(range(len(df1))):

  if(df1["BULLET_POINTS"][i]!=df1["BULLET_POINTS"][i]):
    bullet_avg_length.append(0)
  else:
    yy=(df1["BULLET_POINTS"][i].split(','))
    sum=0
    for i in range(len(yy)):
      sum+=len(yy[i].split())
    bullet_avg_length.append(sum/len(yy))

In [ ]:
FE_train["bullet_sentences"]=bullet_sentences
FE_train["bullet_avg_length"]=bullet_avg_length

In [ ]:
#counting capital characters
title_capital=[]
des_capital=[]
bullet_capital=[]
for i in tqdm(range(len(df1))):

  if(df1["BULLET_POINTS"][i]!=df1["BULLET_POINTS"][i]):
    bullet_capital.append(0)
  else:
    bullet_capital.append(len(re.findall(r'[A-Z]',df1["BULLET_POINTS"][i])))

    
  if(df1["TITLE"][i]!=df1["TITLE"][i]):
    title_capital.append(0)
  else:
    title_capital.append(len(re.findall(r'[A-Z]',df1["TITLE"][i])))

  if(df1["DESCRIPTION"][i]!=df1["DESCRIPTION"][i]):
    des_capital.append(0)
  else:
    des_capital.append(len(re.findall(r'[A-Z]',df1["DESCRIPTION"][i])))

In [ ]:
FE_train["title_capital"]=title_capital
FE_train["des_capital"]=des_capital
FE_train["bullet_capital"]=bullet_capital

In [ ]:
FE_train

         title_words  des_words  ...  des_noun  bullet_noun
0                  8         53  ...        13           10
1                  9         40  ...        10           15
2                 18          0  ...         0            1
3                  7          0  ...         0            4
4                 12          0  ...         0            0
...              ...        ...  ...       ...          ...
2903019            9        134  ...        17           11
2903020           17         57  ...         4            9
2903021           29        135  ...        27           30
2903022           24         76  ...        14           23
2903023            5         24  ...         4            0

[2903024 rows x 14 columns]

In [ ]:
FE_train

         title_words  des_words  ...  des_stopwords  bullet_stopwords
0                  8         53  ...             18                13
1                  9         40  ...              9                16
2                 18          0  ...              0                 0
3                  7          0  ...              0                 0
4                 12          0  ...              0                 0
...              ...        ...  ...            ...               ...
2903019            9        134  ...             57                10
2903020           17         57  ...             18                28
2903021           29        135  ...             44                45
2903022           24         76  ...             20                31
2903023            5         24  ...              7                 0

[2903024 rows x 6 columns]

### **NEW**
#creating a train-test split

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/Copy of cleaned_train_bert.csv")

In [ ]:
data

         BROWSE_NODE_ID  ...   cleaned_BRAND
0                     0  ...     merrymakers
1                     1  ...  the new yorker
2                     2  ...          imusti
3                     3  ...           amway
4                     4  ...             NaN
...                 ...  ...             ...
2903019            1040  ...         generic
2903020           15199  ...         generic
2903021         1044933  ...         torr to
2903022           14790  ...        shopbell
2903023            1213  ...             kng

[2903024 rows x 5 columns]

In [ ]:
sampple_1=(data.groupby("BROWSE_NODE_ID").filter(lambda x : len(x)==1))

In [ ]:
sampple_1

         BROWSE_NODE_ID  ...  split
5742               5742  ...  Train
44144             44144  ...  Train
47928             47928  ...  Train
58622             58622  ...  Train
61846             61846  ...  Train
...                 ...  ...    ...
2801983         2801983  ...  Train
2830573         2830573  ...  Train
2847632         2847632  ...  Train
2860317         2860317  ...  Train
2893574         2893574  ...  Train

[247 rows x 6 columns]

In [ ]:
data.drop(sampple_1.index, axis=0,inplace=True)

In [ ]:
data

         BROWSE_NODE_ID  ...   cleaned_BRAND
0                     0  ...     merrymakers
1                     1  ...  the new yorker
2                     2  ...          imusti
3                     3  ...           amway
4                     4  ...             NaN
...                 ...  ...             ...
2903019            1040  ...         generic
2903020           15199  ...         generic
2903021         1044933  ...         torr to
2903022           14790  ...        shopbell
2903023            1213  ...             kng

[2902777 rows x 5 columns]

In [ ]:
sampple_1["split"]="Train"

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(data, test_size=0.2, random_state=101,stratify=data["BROWSE_NODE_ID"])

In [ ]:
X_train["split"]="Train"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
X_test["split"]="valid"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
gg=pd.concat([X_train,sampple_1,X_test],axis=0)

In [ ]:
gg

         BROWSE_NODE_ID  ...  split
1770717            1213  ...  Train
1369558           28156  ...  Train
792816             2029  ...  Train
143821             3559  ...  Train
2028953            1045  ...  Train
...                 ...  ...    ...
688324             4183  ...  valid
874526             1045  ...  valid
1791565             471  ...  valid
1342210            1045  ...  valid
381739             1186  ...  valid

[2903024 rows x 6 columns]

In [62]:
pd.read_csv("/content/drive/MyDrive/input/cleaned_train.csv")

         BROWSE_NODE_ID  ... cleaned_BRAND
0                     0  ...   merrymakers
1                     1  ...    new yorker
2                     2  ...        imusti
3                     3  ...         amway
4                     4  ...           NaN
...                 ...  ...           ...
2903019            1040  ...       generic
2903020           15199  ...       generic
2903021         1044933  ...       torr to
2903022           14790  ...      shopbell
2903023            1213  ...           kng

[2903024 rows x 5 columns]